@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindos</h1>
    <h3>Serie de aplicações exemplos .NET C#</h3>
    <p></p>
</div>
<div>
    <h4>Veremos uma aplicativo para apresentação de resultado final de notas de alunos:</h4>
    <p></p>
    <h4>Objetivo:</h4>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;- Incluir Alunos;</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;- Incluir Notas;</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;- Incluir Faltas;</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;- Visualizar Alunos com suas notas e faltas, apresentando os resultados:</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;APROVADO, se o aluno ter media maior ou igual que 7;</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REPROVADO por media, se o aluno ter media menor que 7;</h5>
    <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;REPROVADO por faltas, se o aluno ter mais de 10 faltas;</h5>
</div>
