@{
    ViewData["Title"] = "Contato:";
}
<h1>@ViewData["Title"]</h1>
<p></p>
<h3>Senir Sales</h3>

<h5>&nbsp;&nbsp;&nbsp;&nbsp;Telefone: (77) 98812-9954</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;E-mail: senirsales@hotmail.com</h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;LinkedIn: <a href="https://www.linkedin.com/in/senir-sales-oliveira-960472219/">linkedin.com/in/senir-sales-oliveira-960472219</a></h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;Github profile: <a href="https://github.com/SenirSales">https://github.com/SenirSales</a></h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;Github aplicação: <a href="https://github.com/SenirSales">https://github.com/SenirSales</a></h5>
<h5>&nbsp;&nbsp;&nbsp;&nbsp;Vitória da Conquista-BA </h5>
